@font-face {
    font-family: MayekaThinDemo;
    src: url(../data/fonts/MayekaThinDemo.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../data/fonts/roboto/Roboto-Medium.ttf);
}

body {
    margin: auto;
    width: 70%;
    font-family: Roboto, "sans-serif";
    background-color: #E8FFFF;
}

.cabinet {
    text-align: center;
}

/* PARTIE INFIRMIERS */

.infirmier {
    margin-bottom : 20px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.information-infirmier {
    display : inline-block;
    width: 60%;
    vertical-align: top;
}

.id-photo {
    width: 100%;
    margin: auto;
}

.identite-infirmier, .photo-infirmier {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.identite-infirmier {
    margin: auto;
}

.photo-infirmier {
    margin-left: 5%;
    padding-top: 3%;
}

.photo-infirmier img {
    max-width: 120px;
    max-height: 120px;
}

.patients-infirmier {
    width: 100%;
    display: block;
}

.patients-infirmier span {
    padding: 5px;
    margin-bottom: 5px;
}

.patient-infirmier {
    cursor:pointer;
}

.liste-patients {
    list-style-type: none;
}

.table-infirmier {
    margin-left: 5%;
    border-collapse: collapse;
    margin-top: 50px;
}

.table-infirmier th {
    text-decoration: underline;
    border: 1px solid black;
    padding: 5px;
}

.table-infirmier td {
    border: 1px solid black;
    padding: 5px;
}

.table-infirmier tr:first-child:hover {
    opacity: 1;
    background-color: lightgray;
    color: black;
}

.table-infirmier tr:hover {
    opacity: 0.5;
    background-color: #515151;
    color: white;
}

.ajouter-patient {
    font-family: MayekaThinDemo, "sans-serif";
    font-size: 1.5em;
}

/* PARTIE PATIENTS NON AFFECTES */

.patient-non-affecte {
    margin-bottom : 20px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.patient-non-affecte span {
    margin-right: 20px;
}

.drag-hover-infirmier {
    opacity: 0.5;
}

.form-new-patient, .form-new-patient input {
    font-family: MayekaThinDemo, "sans-serif";
}

.label-input {
    text-align: right;
}

.add-patient {
    font-size: 1.5em;
}

.bottom-table {
    padding-top: 15px;
    margin-top: 15px;
}

.bottom-table input {
    font-size: 1em;
}

option, select {
    font-family: MayekaThinDemo, "sans-serif";
    font-size: 0.8em;
}

select {
    width: 120px;
}

.map {
    height: 400px;
    width: 600px;
}

.patient-only {
    margin-bottom : 20px;
    text-align: left;
    background-color: lightgray;
    padding: 10px;
    -moz-box-shadow: 2px 2px 5px 0px #656565;
    -webkit-box-shadow: 2px 2px 5px 0px #656565;
    -o-box-shadow: 2px 2px 5px 0px #656565;
    box-shadow: 2px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.3em;
}

.patient-only table, .patient-only .map  {
    margin: auto;
}

.map-infirmier {
    height: 250px;
    width: 250px;
}

.composant-map-infirmier {
    text-align: right;
    position: relative;
    display: inline-block;
    margin: auto;
    width: 300px;
    padding : 20px;
}

th .nom, td .nom {
    width: 25%;
}

th .prenom, td .prenom {
    width: 25%;
}

th .num-secu, td .num-secu {
    width: 40%;
}

th .options, td .options {
    width: 10%;
}

.div-bouton-retour {
    text-align: center;
}

.bouton-retour {
    text-decoration: none;
    font-size: 2em;
}

.bouton-retour:visited {
    color : black;
}

.bouton-retour:hover {
    opacity: 0.5;
}